@import url('https://fonts.googleapis.com/css2?family=Besley:ital@1&family=Crimson+Text:wght@600&family=Lora:ital@1&family=Noto+Serif&family=PT+Serif&family=Qwitcher+Grypen:wght@700&family=Roboto+Slab&display=swap');
.article{
    position: relative;
    top: 0;
    width: 350px;
    height: 480px;
    background-color: rgb(228, 222, 222);
    box-sizing: border-box;
    display: inline-block;
    border-radius: 5%;
    border: 2px silver solid;
}
img{
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 320px;
    border-radius: 5%;
    outline: 1px black solid;
}

#fix{
    position: absolute;
    top:14rem;
    left: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

 form>button{
    background-color: rgba(218, 22, 136, 0.925);
    color: antiquewhite;
    border: 1px magenta solid;
    border-radius: 10%;
    font-size: large;
    padding: 0.5rem;
}

h3{
    color: rgba(218, 22, 136, 0.925);
    font-weight: 300;
}