body{
    background-color: rgb(7, 7, 126);
}

.mo{
    position: fixed;
    top: 40%;
    left: 45%;
    margin-top: -40px;
    margin-left: -100px;
}
.moon-one{
    width: 15rem;
    height: 15rem;
    background-color: rgb(7, 7, 126);
    border-radius: 50%;
    box-shadow: 2rem 2rem 0 0 blanchedalmond;
}